body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: white;
  margin: 0;
  color: black;
  padding: 5px;
}
  #logo {
    width: 90%;
    margin: 3em auto;
  }

  #logoDiv {
    margin: 0 auto;
    margin-bottom: 0;
    width: 500px;
  }

  .window {
    max-width: 800px;
    margin: 1em auto;
    padding: 3em;
    text-align: left;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,91,255,1) 0%, rgba(15,215,255,0.5550595238095238) 100%, rgba(66,66,66,1) 10%);
    border-radius: 10px;
    min-width: none;
    width: 640px;
    word-wrap:break-word;
  }

  #breadContainer {
    width: 640px;
    margin: 0 auto;
    font-size: 1.5em;
    color: white;
  }


  h1 {
    color: white;
    font-size: 4em;
    margin: .5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .centered {
    display: inline-block;
    max-width: 640px;
    margin: 0 auto;
  }


  .particles{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  a {
    font-size: 3em;
    color: white;
  }